body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 15%, rgba(34,45,32,1) 47%, rgba(125,176,19,1) 97%); 
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.movies {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    flex-wrap: wrap;
}
.movies img{
    border-radius: 10%;
    margin-top: 6rem;
}
::-webkit-scrollbar-track
{
	border: 5px solid white;
	border-color: transparent;
	background-color: rgb(135, 130, 212);
}

::-webkit-scrollbar
{
	width: 15px;
	background-color: #e9dfe8;
}

::-webkit-scrollbar-thumb
{
	background-color: #055340;
	border-radius: 10px;
}
.hide{
    display: none;
}

@media screen and (max-width: 768px) {
    .movies{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 7rem;
    }
}
